.content {
	margin-bottom:55px; padding-left:27px; width:360px;
	border-top:1px solid #dcdcdc; position:relative; float:right;}

fieldset {
	border:0;
}

.seat_select .text {
	padding:5px 0; line-height:18px; text-align:center;
}
.seat_select h1 {
	display: inline;
}

.Seat {
	width: 100%; border-top:2px solid #dedede; border-bottom:2px solid #dedede;
}
.Seat td {
	width: 20px; height:50px; text-align:center; background:#ffc4d4; border-right:1px solid #fff; 
	border-bottom:1px solid #fff;
}
.Seat td.door {
	background:#d8d8d8;
}
.Seat td.path {
	background:#fff;
}
.Seat td label {
	height:20px; line-height:14px; display:block;
}
.Seat td input{
	width: 80px;
}